@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans');

body{
    background-color: #08ffff;
    background-color: #47edff;

}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item{
    background-color: rgb(79, 107, 200);
    background-color: rgb(81, 107, 201);
    margin: 2vh;
    padding: 10px;
    width :20vw;
    height: 5vh;
    border: 1px solid black;
}
nav{

    /* position: fixed;
    left: 0;
    right: 0;
    z-index: 3; */
    width: 80%;
    margin: 0 auto;
    /* margin-top: 30px; */
    padding: 25px 50px;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: burlywood; */

}

nav h2{

    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: #FFBA15  ;

}

.arkan{

    font-size: 42px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-right: -5px;
    margin-left: 5px;

}

nav li{

    display: inline-block;
    margin-left: 25px;

}

nav li a{

    text-decoration: none;
    color: #FFBA15;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    transition: all 0.15s ease-in-out;

}

nav li a:hover{

    font-size: 19px;
    color: whitesmoke;
    transition: all 0.15s ease-in-out;

}

.content{

    width: 55%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 25px;
    margin-top: 90px;
    background-color: beige;

    display: flex;
    flex-direction: column;
    align-items: center;

}

img{

    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 -8px;
    border-radius: 50%;

}

.content h3{

    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Montserrat';

}

.content h1{

    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;

}

.content p{

    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-weight: 600;

}
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}